MARKET MAKING STRATEGY

Here we will try to use the Bid ask and try make profit on 3bps margins. Also, we will hedge the position incase our loss amount greater than 5000 USD

Installing Different Packages required for analysis
-yfinance package is used to download historical BTCUSDT data for March 01 2022 to March 03 2022

Also, Pandas data frame is use to prforming different operations on the data

In [ ]:
!pip install yfinance python-binance

In [ ]:
import pandas as pd

In [ ]:
import yfinance as yf

# Inserting ticker information in the dataset
data= yf.Ticker("BTC-USD")
data

yfinance.Ticker object <BTC-USD>

Importing Binance package to get data and execute orders

In [ ]:
from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
import pandas as pd

Create the Binance account and get your own apikey, secret key to be used to connect to your account to execute orders

In [ ]:
apikey= ' '
secret= ' '

Pulling historical data for the first 3 days of March 2022 and saving it in a data frame.

In [ ]:
BTC_historical = data.history(start="2022-03-01", end="2022-03-03", interval="15m")
BTC_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-03-01 00:00:00+00:00,43194.835938,43420.824219,43194.835938,43414.171875,147668992,0,0
2022-03-01 00:15:00+00:00,43464.234375,43464.234375,43267.476562,43352.351562,247545856,0,0
2022-03-01 00:30:00+00:00,43370.152344,43464.714844,43351.890625,43454.582031,322068480,0,0
2022-03-01 00:45:00+00:00,43460.023438,43549.796875,43418.398438,43507.128906,277684224,0,0
2022-03-01 01:00:00+00:00,43521.347656,43561.902344,43473.160156,43473.160156,46641152,0,0
...,...,...,...,...,...,...,...
2022-03-02 22:45:00+00:00,44117.730469,44144.300781,44108.156250,44112.726562,16672768,0,0
2022-03-02 23:00:00+00:00,44108.886719,44121.613281,44080.812500,44080.812500,13950976,0,0
2022-03-02 23:15:00+00:00,44081.437500,44147.574219,44081.437500,44125.765625,43182080,0,0
2022-03-02 23:30:00+00:00,44031.371094,44031.371094,43970.554688,43970.554688,0,0,0
2022-03-02 23:45:00+00:00,43966.433594,43966.433594,43903.992188,43932.710938,0,0,0

In [ ]:
Inserting the data in pandas dataframe which helps in performing different operations

In [ ]:
data=pd.DataFrame(BTC_historical)

Dropping/Discarding the columns we do not require to perform our task in Hand.
Here we only need Date time, Close and Volume

In [ ]:
data.drop(data.columns[[ 0,1,2, 5, 6]], axis = 1, inplace = True)

Crosschecking the datatype and converting them as floats or datetime format for furthere processing of dataframe

In [ ]:
data.dtypes

Close    float64
dtype: object

Coding an order function to execute the BUY order and sell or BTC price increasese with 3bps. ALSO, forming a hedge using futures when the pricess falls and our loss amounts to more than 5000 USD.

In this case we have not fed the actual apikey and secret key in the algorithm, to make it work we will have to add those to execute the same.

Also, we can also create a live trading bot with the same code with minor changes to execute the orders automatically.

In [ ]:
def placeorder(entry, lookback, open_position=False):
  while True
    df=pd.DataFrame(data)
    lookback =period=df.iloc[-lookback:]
    ret=(lookbackperiod.Close.pct_change() +1).cumprod()-1
    if not open_position:
      if ret[ret.last_valid_index()] > entry:
        order=client.create_order(symbol='BTCUSDT', 
                                  side='BUY'
                                  type='MARKET'
                                  quantity=qty)
        print(order)
        open_position=True
        break
  if open_position:
    while True:
      sincebuy=df.loc[df.Datetime > pd.to_datatime(order['transactionTime'],unit='ms') ]

      if len(sincebuy)>1
      sincebuyret=(sincebuy.Close.pct_change()+1).cumprod()-1
      last_entry=sincebuyret[sincebuyret.last_valid_index()]

      if last_entry>0.03:
      order=client.create_order(symbol='BTCUSDT', 
                                  side='SELL'
                                  type='MARKET'
                                  quantity=qty)
      a1=order
      if last_entry<0 and qty*close> 5000:
      order=client.create_order(symbol='BTC=F', 
                                  side='SELL'
                                  type='MARKET'
                                  quantity=qty)
      
      b2=order

      profit=b2-b1
      df['PROFIT'] = profit
      break

Calculating Gross P&L in basis poits

In [ ]:
df2=pd.DataFrame(df)
df2.groupby((()
    [pd.to_datetime(df.Time).dt.strftime(' %Y'), 'PROFIT']
)['Count'].mean().reset_index(name='Average'))/1000)*volume

Calculating Gross P&L in dollars

In [ ]:
df2[SumProfit]=df2[PROFIT].sum(axis = 0, skipna = True)

Calculating Maximum Drawdown

In [ ]:
df2[MaximumDrawdown] = df2[PROFIT].min()

Caluculating Average Win P&*L

In [ ]:
df2['Avgwin'] = df2.groupby('Time')['PROFIT'].apply(lambda x: x[x>0].mean()).reset_index()]

Caluculating Average Loss P&*L

In [ ]:
df2['Avgloss'] = df2.groupby('Time')['PROFIT'].apply(lambda x: x[x<0].mean()).reset_index()]

In [ ]:
Calcuating Number of Trades

In [ ]:
df2[Numberoftrades]=df2[PROFIT].count()

In [ ]:
# THIS ALGORITHM WILL NEED TO BE MANUALLY STOPED, AS IT WILL KEEP ON RUNNING